<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search User Profiles</title>
</head>
<body>
    <header>
        <h1>Search for User Profile</h1>
    </header>
        <form action="/search-user" method="get">
            <label for="username">Enter Username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Search</button>
        </form>
</body>
</html>