<h1>Terms and Conditions</h1>
<p>I hereby confirm that all the information I provided during the registration process are correct. I know that I am explicitly stated that I should have provided the correct information to be eligible to use Empal; therefore I confirm that any wrong information I provided are subject to legal matters and punishments. I hereby confirm that I should not make any certain disease detection or suggest any drug usage in this platform. I know that this is strictly prohibited in the UAE, and I take the legal responsibility. I know that the scope of my comunications with the patients are to the extent to give suggestions based on life standards, diet, and non-diagnostic terms. I know that I will be paid 1$ per post, 2$ per event, 50$ per comment.</p>

